*{
    margin: 0rem;
    padding: 0rem;

}
  /* MAIN PAGE */ 
#back-img{
    max-height: 100vh;
    width: 100vw;
}  
.back-img{
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
}
/*.back-img::before{
background-color: rgba(0, 0, 0, 0.3);
}*/
.first-txt{
    position: absolute;
    top:21rem;
    left: 20px;
    line-height: 35px;
    font-size: 1.4rem;
} 
.intro{
    /*font-size: 2rem;*/
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    /*margin-top: 15rem;
    padding: 0.5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.introbutton{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 1.2rem 5rem 2rem 0;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

/*  PAGE 2 */
#intro2{
    font-family: 'Montserrat', sans-serif;
}
header{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: underline solid ;
}
.textanimate{
    -webkit-box-reflect: below -8px linear-gradient( transparent, rgba(0, 0, 0, 0.2));
}

.textanimate{
    animation-name: change-color, grow-shrink, expand;
    animation-duration: 8s, 5s, 5s;
    animation-iteration-count: infinite;
  
    font-family: Avenir;
    font-size: 26px;
    text-align: center;
  }
  
  @keyframes change-color {
    25% { color: #00A4BD; }
    50% { color: #FF7A59; }
    75% { color: #00BDA5; }
  }
  
  @keyframes grow-shrink {
    50% { transform: scale(1.5); }
  }
  
  @keyframes expand {
    50% { word-spacing: 20px; }
  }
.akanhistory{
    font-size: 1.3rem;
    padding: 5px;
    margin: 45px 5px 8px 5px;
    line-height: 30px;
}
.History1, p{
    font-size: 1.3rem;
    padding: 5px;
}
table{
    width: 90%;
    font-size: 2rem;
    box-sizing: border-box; 
    margin: 1rem;
    padding: 1rem;  
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
}
tr{
    padding: 5px;
    margin: 5px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #ABA8A9;
}
mark{ 
    background-color: #CBF83E;
}
/*FORM*/
.form1{
    font-size: 1.3rem;
    padding-left: 5px;
    width: 600px;
}
.form1 > p{
    padding-left: 280px;
}
.formdetail{
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 300px;
}
#birthday{
    width: 30rem;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
}
#male, #female{
    margin-bottom: 10px;
}
.results{
    width: 10rem;
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}
.results:hover{
    background-color: #CBF83E;
    color: black;
    border-color: #CBF83E;
}
.radio{
    line-height: 30px;
}
.daybirth, .jinsia{
    margin-bottom: 10px;
}
/*FOOTER*/
footer{
font-style: italic;
padding-top: 10px;
font-weight: bold;
}
